#header {
  display: flex;
  min-width: 222px;
}

#input {
  margin: 0 auto;
}

#spacer {
  width: 30%;
}
#mainBoard {
  width: 100%;
  background-color: burlywood;
}

#menu {
  width: 25%;
  display: flex;
  flex-direction: column;
  min-width: 80px;
}

h1 {
  text-align: center;
}